<app-header></app-header>
<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
   <div class="container">
       <div class="row">
           <div class="col-12">
               <div class="breadcrumb_content">
                   <ul>
                       <li><a href="index.html">home</a></li>
                       <li>Shopping Cart</li>
                   </ul>
               </div>
           </div>
       </div>
   </div>
</div>
<!--breadcrumbs area end-->

<!--shopping cart area start -->
<div class="cart_page_bg">
   <div class="container">
  
       <div class="shopping_cart_area">
           <form action="#">
               <div class="row">
                   <div class="col-12">
                       <div class="table_desc">
                           <div class="cart_page table-responsive">
                            
                               <table class= "table">
                                   <thead>
                                       <tr>
                                           <th class="product_remove">Delete</th>
                                           <th class="product_thumb">Image</th>
                                           <th class="product_name">Product</th>
                                           <th class="product-price">Price</th>
                                           <th class="product_quantity">Quantity</th>
                                           <th class="product_total">Total</th>
                                       </tr>
                                   </thead>
                                   <tbody>
                                       <tr *ngFor = "let f of this.inqueryCart.cartItems">              
                                           <td class="product_remove"><a (click)="removeData(f, f.product.attachment ,f.product.product_name)"><i class="fa fa-trash-o"></i></a></td>
                                           <td class="product_thumb"><a [routerLink]="['/product/details', f.id]"><img  [src]="resourcesBaseUrl+f.product.attachment[0]" alt=""></a></td>
                                           <td class="product_name"><a href="#">{{f.product.product_name}}</a></td>
                                           <td class="product-price">{{f.product.price}}</td>
                                           <td class="product_quantity">
                                                <p class="mr-3" style="font-size: large; display: inline;">{{f.product.quantity}}</p>
                                                <button class="btn btn-success btn-xs plus mr-2" (click)="addQty(f.product.id)"><i class="fa fa-plus"></i></button><!-- (click)="addQty(f.product.id)-->
                                                <button class="btn btn-danger btn-xs minus" (click)="subtractQty(f.product.id)"><i class="fa fa-minus"></i></button><!--(click)="subtractQty(f.product.id)"-->
                                            </td>
                                            <td class="product_total">{{f.itemTotal}}</td>
                                       </tr>
                                   </tbody>
                               </table>
                           </div>
                       </div>
                   </div>
               </div>
               <!--coupon code area start-->
               <div class="coupon_area">
                   <div class="row">
                       <div class="col-lg-6 col-md-6">
                           <div class="coupon_code left">
                               <h3>Coupon</h3>
                               <div class="coupon_inner">
                                   <p>Enter your coupon code if you have one.</p>
                                   <input placeholder="Coupon code" type="text">
                                   <button type="submit">Apply coupon</button>
                               </div>
                           </div>
                       </div>
                       <div class="col-lg-6 col-md-6">
                           <div class="coupon_code right">
                               <h3>Cart Totals</h3>
                               <div class="coupon_inner">
                                   <div class="cart_subtotal">
                                       <p>Subtotal</p>
                                       <p class="cart_amount">{{inqueryCart.subTotal | currency:'Rs. '}}</p>
                                   </div>
                                   <div class="cart_subtotal">
                                       <p>Total</p>
                                       <p class="cart_amount">{{inqueryCart.cartTotal | currency:'Rs. '}}</p>
                                   </div>
                                   <div class="checkout_btn">
                                    <a routerLink="/inquery-checkout" style="width: 180px;">Contact Dealer</a>
                                </div>
                                   <div class="checkout_btn">
                                       <a routerLink="/inquery-checkout">Proceed to Checkout</a>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
               <!--coupon code area end-->
           </form>
       </div>
   </div>
</div>
<!--shopping cart area end -->

<app-footer></app-footer>