<app-header></app-header>
<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumb_content">
          <ul>
            <li><a href="index.html">home</a></li>
            <li>My account</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--breadcrumbs area end-->

<!-- customer login start -->
<div class="login_page_bg">
  <div class="container">
    <div class="customer_login">
      <div class="row">
        <!--login area start-->
        <div class="col-md-6 offset-md-3">
          <div class="account_form login">
            <div class="row">
              <div class="col-sm-12 py-2">
                <h3>Welcome to AV!</h3>
              </div>
            <div class="col-sm-7">
              <h4>Please Login</h4>
            </div>
            <div class="col-sm-5">
              New member? <a routerLink="/register" style="color: #049cb9;"> Register Here</a>
            </div>
          </div>
            <form [formGroup]="userLoginForm">
              <div class="form-group">
                <label for="mobile">Mobile number <span>*</span></label>
                <input
                  minlength="10"
                  maxlength="10"
                  type="text" 
                  formControlName="mobile"
                  class="form-control"
                  placeholder="Pleace enter your mobile number"
                  id="mobile"
                  [ngClass]="{ 'is-invalid': loginFormSubmitted && rf.mobile.invalid, 'is-valid': loginFormSubmitted && !rf.mobile.invalid }"
                  required>
                <div *ngIf="loginFormSubmitted && (rf.mobile.invalid || rf.mobile.errors?.required)"
                  class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> This is
                  required</div>
              </div>
              <div class="form-group">
                <label for="registerPassword">Password <span>*</span></label>
                <input
                  minlength="5"
                  ngModel
                  name="password"
                  id="password"
                  type="password" 
                  formControlName="password" 
                  class="form-control" 
                  placeholder="Password"
                  [ngClass]="{ 'is-invalid': loginFormSubmitted && rf.password.invalid, 'is-valid': loginFormSubmitted && !rf.password.invalid }"
                  placeholder="Pleace enter a password"
                  required
                />
                <div *ngIf="loginFormSubmitted && (rf.password.invalid || rf.password.errors?.required)"
                  class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> This is required
                </div>
              </div>
              <div class="login_submit">
                <a [routerLink]="['/supplier/forgotpassword']">Forgot Password?</a>
                <label for="remember">
                  <input id="remember" type="checkbox" />
                  Remember me
                </label>
                <button (click)="onSubmit()">
                  <span *ngIf="!isProcessing" >Login</span>
                  <div *ngIf="isProcessing" class="justify-content-center">
                    <div class="spinner-border text-danger" role="status" style="width: 20px; height: 20px;">
                        <span class="sr-only">Loading...</span>
                    </div>
                  </div>
                </button>
              </div>
            </form>
          </div>
        </div>
        <!--login area start-->
      </div>
    </div>
  </div>
</div>

<!-- customer login end -->
<app-footer></app-footer>
