<article class="single_product">
<figure>
<div class="product_thumb">
    <div *ngIf="this.isButtonVisible1">
    <a class="primary_img d-flex justify-content-center" [routerLink]="['/product/details', productItem.id]">
        <img src="resourcesBaseUrl+productItem.attachment[0]" alt={{productItem.product_name}} style="width: 260px; height: 200px;">
    </a>
    <a class="secondary_img d-flex justify-content-center" [routerLink]="['/product/details', productItem.id]">
        <img src="resourcesBaseUrl+productItem.attachment[1]" alt={{productItem.product_name}} style="width: 260px; height: 200px;">
    </a>
    </div>
    <div *ngIf="isButtonVisible2">
    <a class="primary_img d-flex justify-content-center" [routerLink]="['/product/inquiry', productItem.id]">
        <img [src]="resourcesBaseUrl+productItem.attachment[0]" alt={{productItem.product_name}} style="width: 260px; height: 200px;">
    </a>
    <a class="secondary_img d-flex justify-content-center" [routerLink]="['/product/inquiry/',productItem.id]">
        <img [src]="resourcesBaseUrl+productItem.attachment[1]" alt={{productItem.product_name}} style="width: 260px; height: 200px;">
    </a>
    </div>
    <div class="label_product">
        <span class="label_sale">Sale</span>
    </div>
    <div class="action_links">
        <ul>
            <li class="wishlist"><a (click)="handleAddToWishlist()" title="Add to Wishlist"><i class="ion-android-favorite-outline"></i></a></li>
            <li class="compare"><a href="#" title="Add to Compare"><i class="ion-ios-settings-strong"></i></a></li>
            <li class="quick_button"><a href="#" data-toggle="modal" data-target="#modal_box" title="quick view"><i class="ion-ios-search-strong"></i></a></li>
        </ul>
    </div>
</div>
<div class="product_content">
    <div class="product_content_inner">
        <h4 class="product_name"><a routerLink="/product/details/{{productItem.id}}">{{productItem.product_name}}</a></h4>
       
        <!-- <h4 class="product_name"><a href="/product/details/{{productItem.id}}">{{productItem.supplier}}</a></h4> -->

        <div class="price_box">
            <!-- <span class="old_price">Rs. {{productItem.priceWithDiscount}}</span> -->
            <span class="current_price">Rs. {{productItem.price}}</span>
        </div>
    </div>
    <div class="add_to_cart">
        <div *ngIf="isButtonVisible1">
        <a title="Add to cart" type="button" (click)="handleAddToCart(productItem.product_name,productItem.attachment[0])">Add to cart</a>
        </div>
        <div *ngIf="isButtonVisible2">
             <a title="Inquiy" type="button" (click)="handleAddToInquiry()" >Inquiry</a>
        </div>
       
    </div>
</div>
</figure></article>