<app-header></app-header>
 <!--breadcrumbs area start-->
 <div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li>product details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->

<div class="product_page_bg">
    <div class="container">
        <div class="product_details_wrapper mb-55">
            <!--product details start-->
            <div class="product_details">
                <div class="row">
                    <div class="col-lg-5 col-md-6">
                        <div *ngIf="!isLoading" class="product-details-tab">
                            <div id="img-1" class="zoomWrapper single-zoom">
                                <a href="#">
                                    <img id="zoom1" [src]="resourcesBaseUrl+oneProduct.attachment[0]" data-zoom-image="assets/img/product/productbig5.jpg" alt="big-1">
                                </a>
                            </div>
                            <owl-carousel-o [options]="customOptions">
                                <ng-template *ngFor="let img of oneProduct.attachment | slice:1" carouselSlide>
                                    <!-- elevatezoom-gallery -->
                                    <a href="#" class="owl-link" data-update="" data-image="assets/img/product/productbig4.jpg" data-zoom-image="assets/img/product/productbig4.jpg">
                                        <div class="px-1">
                                            <img class="owl-thumb" [src]="resourcesBaseUrl+img" [alt]="oneProduct.product_name">
                                        </div>
                                    </a>
                                </ng-template>
                            </owl-carousel-o>
                        </div>
                        <div *ngIf="isLoading" class="product-details-tab d-flex justify-content-center">
                            <div class="spinner-border text-danger m-5" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <div class="product_d_right">
                            <form action="#">
                                <h3><a href="#">{{oneProduct.product_name}}</a></h3>
                                <div class="price_box">
                                    <!-- <span class="old_price">{{oneProduct.price}}</span> -->
                                    <span class="current_price">Rs. {{oneProduct.price | currency : "Rs. "}}</span>
                                </div>
                                <div class="product_desc" [innerHTML]="oneProduct.description"></div>
                                <div class="product_variant quantity">
                                    <label>quantity</label>
                                    <label>{{quantity}}</label>
                                    <button class="button" type="submit"  (click)="handleAddToCart(oneProduct.attachment, oneProduct.product_name)">add to inquiry</button>
                                    <button class="button" type="submit"  >Contact Dealer</button>
                                </div>
                                <div class="product_meta">
                                    <span>Category: <a href="#">Clothing</a></span>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <!--product details end-->

            <!--product info start-->
            <div class="product_d_info">
                <div class="row">
                    <div class="col-12">
                        <div class="product_d_inner">
                            <div class="product_info_button">
                                <ul class="nav" role="tablist">
                                    <li>
                                        <a class="active" data-toggle="tab" href="#desc" role="tab" aria-controls="info" aria-selected="false">Description</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#spec" role="tab" aria-controls="sheet" aria-selected="false">Specification</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="desc" role="tabpanel">
                                    <div class="product_info_content" [innerHTML]="oneProduct.description"></div>
                                </div>
                                <div class="tab-pane fade" id="spec" role="tabpanel">
                                    <div class="product_info_content" [innerHTML]="oneProduct.specifications"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--product info end-->
        </div>
    </div>
</div>

<app-footer></app-footer>