<app-header></app-header>
<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumb_content">
          <ul>
            <li><a href="index.html">home</a></li>
            <li>My account</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--breadcrumbs area end-->

<!-- customer login start -->
<div class="login_page_bg">
  <div class="container">
    <div class="customer_login">
      <div class="row">
        <!--login area start-->
        <div class="col-md-9 offset-md-2">
          <div class="account_form register">
            <div class="row">
              <div class="col-sm-9">
                <h3>Create your AV Account</h3>
              </div>
              <div class="col-sm-3">
                Already member?<a routerLink="/login" style="color: #049cb9;"
                  >Login</a
                >
                here
              </div>
            </div>
            <form [formGroup]="userRegisterForm">
              <div class="row">
                <div class="col-sm-7">
                  <div class="row">
                    <div class="col-sm-9">
                      <div class="form-group">
                        <label for="mobile">Mobile number <span>*</span></label
                        >
                        <!-- [(ngModel)]="mobileNumber" -->
                        <input
                          required
                          minlength="10"
                          maxlength="16"
                          name="mobile"
                          formControlName="mobile"
                          type="text"
                          class="form-control"
                          id="mobile"
                          placeholder="Pleace enter your phone number"
                          [ngClass]="{ 'is-invalid': isSubmitPressed && rf.mobile.invalid, 'is-valid': isSubmitPressed && !rf.mobile.invalid }"
                        />
                        <div class="alert alert-danger" *ngIf="responseFailed != null">
                            {{responseFailed}}
                        </div>
                        <div class="alert alert-success" *ngIf="responseSuccess != null">
                            {{responseSuccess}}
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <label for="mobile">Get OTP <span>*</span></label>
                      <div class="login_submit">
                        <button (click)="requestVerifyCode()">
                          <span *ngIf="!isProcessing">Send</span>
                          <div *ngIf="isProcessing" class="spinner-border text-danger" role="status" style="width: 20px; height: 20px;">
                              <span class="sr-only">Loading...</span>
                          </div>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="verify_code"
                      >Verification Code <span>*</span></label
                    >
                    <input
                      required
                      minlength="6"
                      maxlength="6"
                      name="verify_code"
                      formControlName="verify_code"
                      type="text"
                      class="form-control"
                      id="verify_code"
                      placeholder="Pleace enter your verification number"
                      [ngClass]="{ 'is-invalid': isSubmitPressed && rf.verify_code.invalid, 'is-valid': isSubmitPressed && !rf.verify_code.invalid }"
                    />
                  </div>
                  <div class="form-group">
                    <label for="password">Password <span>*</span></label>
                    <input
                      required
                      minlength="5"
                      name="password"
                      formControlName="password"
                      type="password"
                      class="form-control"
                      id="password"
                      placeholder="Pleace enter a password"
                      [ngClass]="{ 'is-invalid': isSubmitPressed && rf.password.invalid, 'is-valid': isSubmitPressed && !rf.password.invalid }"
                    />
                  </div>
                  <div class="form-group">
                    <label for="confermPassword"
                      >Conferm Password <span>*</span></label
                    >
                    <input
                      appConfirmEqualValidator="password"
                      required
                      minlength="5"
                      name="confirmPassword"
                      formControlName="confirmPassword"
                      type="password"
                      class="form-control"
                      id="confirmPassword"
                      placeholder="Confirm your password"
                      [ngClass]="{ 'is-invalid': isSubmitPressed && rf.confirmPassword.invalid, 'is-valid': isSubmitPressed && !rf.confirmPassword.invalid }"
                    />
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="form-group">
                    <label for="fullname"
                      >Full name <span>*</span></label
                    >
                    <input
                      required
                      minlength="3"
                      name="fullname"
                      formControlName="fullname"
                      type="text"
                      class="form-control"
                      id="fullname"
                      placeholder="Pleace enter your full name"
                      [ngClass]="{ 'is-invalid': isSubmitPressed && rf.fullname.invalid, 'is-valid': isSubmitPressed && !rf.fullname.invalid }"
                    />
                  </div>
                  <div class="form-group">
                    <p>
                      <label for="gender">Gender</label>
                      <select id="gender" 
                        class="form-control" 
                        formControlName="gender"
                        [ngClass]="{ 'is-invalid': isSubmitPressed && rf.gender.invalid, 'is-valid': isSubmitPressed && !rf.gender.invalid }"
                        required>
                        <option selected>Male</option>
                        <option>Female</option>
                      </select>
                    </p>
                  </div>
                  <div class="form-group">
                    <label for="email">E-mail <span>*</span></label>
                    <input
                      required
                      name="email"
                      formControlName="email"
                      type="text"
                      class="form-control"
                      id="email"
                      placeholder="Pleace enter your email"
                      [ngClass]="{ 'is-invalid': isSubmitPressed && rf.email.invalid, 'is-valid': isSubmitPressed && !rf.email.invalid }"
                    />
                  </div>
                  <div class="form-group">
                    <label for="dob">Date of birth <span>*</span></label>
                    <input
                      required
                      name="dob"
                      formControlName="dob"
                      type="date"
                      class="form-control"
                      id="dob"
                      [ngClass]="{ 'is-invalid': isSubmitPressed && rf.dob.invalid, 'is-valid': isSubmitPressed && !rf.dob.invalid }"
                    />
                  </div>
                  <h6>
                    By clicking "Signup" I agree to
                    <a routerLink="/privacypolicy" style="color: #049cb9;">Privacy Policy</a>
                  </h6>
                  <div class="login_submit">
                    <button (click)="onSubmit()">
                      <span *ngIf="!isOnSubmit">Signup</span>
                      <div *ngIf="isOnSubmit" class="spinner-border text-danger" role="status" style="width: 20px; height: 20px;">
                          <span class="sr-only">Loading...</span>
                      </div>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!--login area start-->
      </div>
    </div>
  </div>
</div>

<!-- customer login end -->
<app-footer></app-footer>
